[submodule "libs/3rd-party/tl-expected"]
	path = libs/3rd-party/tl-expected
	url = https://github.com/TartanLlama/expected.git
[submodule "libs/3rd-party/fmt"]
	path = libs/3rd-party/fmt
	url = https://github.com/whs31/fmt.git
[submodule "libs/3rd-party/range-v3"]
	path = libs/3rd-party/range-v3
	url = https://github.com/whs31/range-v3.git
